@import "./config";

* {
  transition: color 0.3s ease-in-out;
}

body[data-theme="dark"] {
  background-color: $blackClrTwo;

  .contentContainer {
    background-color: $blackClrThr;
    box-shadow: 0 0 10px 0px $blackClrOne;
    color: $whiteClrOne;
  }

  #inputContainer {
    background-color: $blackClrTwo;

    .contentContainer {
      background-color: $blackClrThr;
      box-shadow: 0 0 10px 0px $blackClrOne;
      color: $whiteClrOne;
      #personInfoContainer {
        label {
          background-color: $blackClrTwo;

          svg {
            fill: $whiteClrOne;
          }
        }
      }

      label:hover {
        color: $whiteClrOne;
        background-color: darken($blackClrThr, 5);
        box-shadow: inset 0 0 3px $whiteClrTwo;
      }

      input {
        background-color: $blackClrTwo;
        color: $whiteClrThr;
      }

      input:focus {
        color: $whiteClrOne;
        background-color: darken($blackClrThr, 5);
        box-shadow: inset 0 0 1px $whiteClrTwo;
      }

      textarea {
        background-color: $blackClrTwo;
        color: $whiteClrThr;
      }

      textarea:focus {
        color: $whiteClrOne;
        background-color: darken($blackClrThr, 5);
        box-shadow: inset 0 0 1px $whiteClrTwo;
      }

      #educationContainer {
        button {
          background-color: $blackClrOne;
          color: $whiteClrOne;
        }
        button:hover {
          background-color: darken($blackClrTwo, 10%);
        }
        button:focus {
          background-color: darken($blackClrTwo, 10%);
        }
      }
      #experienceContainer {
        button {
          background-color: $blackClrOne;
          color: $whiteClrOne;
        }
        button:hover {
          background-color: darken($blackClrTwo, 10%);
        }
        button:focus {
          background-color: darken($blackClrTwo, 10%);
        }
      }

      #skillsContainer {
        button {
          background-color: $blackClrOne;
          color: $whiteClrOne;
        }

        .trashBtn:hover {
          color: $redClr;
        }

        .trashBtn:focus {
          color: $redClr;
        }

        button:hover {
          background-color: darken($blackClrTwo, 10%);
        }
        button:focus {
          background-color: darken($blackClrTwo, 10%);
        }
      }
    }
  }
  #outputContainer {
    background-color: $blackClrThr;
    box-shadow: 0 0 10px 0 $blackClrOne;

    #cvContainer {
      box-shadow: 0 0 10px 0 $blackClrOne;
      #cvSidebar {
        .contactsContainer {
          color: $whiteClrOne;
        }
      }
      #cvSkillsContainer {
        ul {
          li {
            color: $whiteClrOne;
          }
        }
      }
    }
  }
}
body[data-theme="light"] {
  background-color: $whiteClrOne;

  .contentContainer {
    background-color: $whiteClrTwo;
    box-shadow: 0 0 10px 0px $blackClrOne;
  }
  #inputContainer {
    background-color: $whiteClrOne;

    .contentContainer {
      background-color: $whiteClrTwo;
      box-shadow: 0 0 10px 0px $blackClrOne;

      #personInfoContainer {
        label {
          background-color: $whiteClrOne;

          svg {
            fill: $blackClrOne;
          }
        }
      }

      label:hover {
        box-shadow: inset 0 0 5px $blackClrTwo;
      }

      input {
        background-color: $whiteClrOne;
        color: $blackClrThr;
      }

      input:focus {
        color: $blackClrOne;
        box-shadow: inset 0 0 5px $blackClrTwo;
      }

      textarea {
        background-color: $whiteClrOne;
        color: $blackClrOne;
      }

      textarea:focus {
        box-shadow: inset 0 0 5px $blackClrTwo;
      }
      #educationContainer {
        button {
          background-color: $whiteClrThr;
          color: $blackClrOne;
        }
        button:hover {
          background-color: darken($whiteClrThr, 10%);
        }
        button:focus {
          background-color: darken($whiteClrThr, 10%);
        }
      }
      #experienceContainer {
        button {
          background-color: $whiteClrThr;
          color: $blackClrOne;
        }
        button:hover {
          background-color: darken($whiteClrThr, 10%);
        }
        button:focus {
          background-color: darken($whiteClrThr, 10%);
        }
      }

      #skillsContainer {
        button {
          background-color: $whiteClrThr;
          color: $blackClrOne;
        }

        .trashBtn:hover {
          color: $redClr;
        }

        .trashBtn:focus {
          color: $redClr;
        }

        button:hover {
          background-color: darken($whiteClrThr, 10%);
        }
        button:focus {
          background-color: darken($whiteClrThr, 10%);
        }
      }
    }
  }
  #outputContainer {
    background-color: $whiteClrTwo;
    box-shadow: 0 0 10px 0 $blackClrOne;
    #cvContainer {
      box-shadow: 0 0 10px 0 $blackClrOne;
      #cvSidebar {
        .contactsContainer {
          color: $whiteClrOne;
        }
      }
      #cvSkillsContainer {
        ul {
          li {
            color: $whiteClrOne;
          }
        }
      }
    }
  }
}
