@import "./config";

body {
  margin: 0 3rem;
  transition: all 0.3s ease-in-out;
}

#mainContainer {
  display: flex;
  gap: 3rem;

  #inputContainer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 1rem;
    overflow: scroll;

    .contentContainer {
      display: flex;
      flex-direction: column;
      border-radius: 0.5rem;
      padding: 1rem;
      margin-bottom: 1rem;
    }
  }

  #outputContainer {
    width: 100%;
    background-color: $blueClr;
    border-radius: 1rem;
  }
}
