@import "./config";

#skillsContainer {
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 1rem;
    grid-column: 1/3;
  }

  .skill {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 2rem;
    margin-bottom: 0.5rem;

    input {
      grid-column: 1/2;
    }
    .trashBtn {
      grid-column: 2/3;
      border: none;
      border-radius: 10px;
      font-size: 1rem;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.2s ease;
      outline: none;
    }
  }

  .addBtn {
    grid-column: 1/3;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1rem;
    padding: 0.4rem 0;
    outline: none;
    transition: background-color 0.2s ease;
  }
}
